body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.map-container {
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.map-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.table-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-header input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.table-header button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #187C03;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f9f9f9;
}

.no-records {
  text-align: center;
  padding: 50px 0;
  color: #666;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #666;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls span {
  margin: 0 10px;
}

.pagination-button {
  background: none;
  border: none;
  color: #187C03;
  cursor: pointer;
  font-size: 16px;
}

.pagination-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

#rowsPerPage {
  padding: 5px;
  border: 1px solid #187C03;
  border-radius: 5px;
  background-color: white;
  color: #187C03;
  font-size: 16px;
}